fastapi
uvicorn[standard]
psycopg[binary]

pydantic

langgraph-checkpoint-postgres
langchain
langchain-openai
langchain-mcp-adapters

python-dotenv

opentelemetry-api 
opentelemetry-sdk 
opentelemetry-instrumentation-fastapi 
opentelemetry-instrumentation-requests 
opentelemetry-exporter-otlp-proto-grpc